# EC2 Instance Profile

[profile stackref-team-001-aws]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Ec2InstanceMetadata
[profile stackref-team-002-aws]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Ec2InstanceMetadata
[profile stackref-team-003-aws]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Ec2InstanceMetadata
[profile stackref-team-004-aws]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Ec2InstanceMetadata
[profile stackref-team-005-aws]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Ec2InstanceMetadata
[profile stackref-team-006-aws]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Ec2InstanceMetadata
[profile stackref-team-007-aws]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Ec2InstanceMetadata
[profile stackref-team-008-aws]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Ec2InstanceMetadata
[profile stackref-team-009-aws]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Ec2InstanceMetadata
[profile stackref-team-010-aws]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Ec2InstanceMetadata
[profile stackref-team-011-aws]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Ec2InstanceMetadata
[profile stackref-team-012-aws]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Ec2InstanceMetadata
[profile stackref-team-013-aws]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Ec2InstanceMetadata
[profile stackref-team-014-aws]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Ec2InstanceMetadata
[profile stackref-team-015-aws]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Ec2InstanceMetadata
[profile stackref-team-016-aws]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Ec2InstanceMetadata
[profile stackref-team-017-aws]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Ec2InstanceMetadata
[profile stackref-team-018-aws]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Ec2InstanceMetadata
[profile stackref-team-019-aws]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Ec2InstanceMetadata
[profile stackref-team-020-aws]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Ec2InstanceMetadata

# Non-EC2

[profile stackref-team-001]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Environment
[profile stackref-team-002]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Environment
[profile stackref-team-003]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Environment
[profile stackref-team-004]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Environment
[profile stackref-team-005]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Environment
[profile stackref-team-006]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Environment
[profile stackref-team-007]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Environment
[profile stackref-team-008]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Environment
[profile stackref-team-009]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Environment
[profile stackref-team-010]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Environment
[profile stackref-team-011]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Environment
[profile stackref-team-012]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Environment
[profile stackref-team-013]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Environment
[profile stackref-team-014]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Environment
[profile stackref-team-015]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Environment
[profile stackref-team-016]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Environment
[profile stackref-team-017]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Environment
[profile stackref-team-018]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Environment
[profile stackref-team-019]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Environment
[profile stackref-team-020]
role_arn = arn:aws:iam::000000000000:role/OrganizationAccountAccessRole
credential_source = Environment
