sr_api_version                                = "1.11.1"
aws_region                                    = "us-east-1"
environment                                   = "dev"
python_lambda_layer_dir                       = "../python_lambda_layer"
amzn_mkt_entitlement_lambda_src_dir           = "../amznMktEntitlement/src"
amzn_mkt_entitlement_lambda_payload_dir       = "../amznMktEntitlement/payload"
asset_create_lambda_src_dir                   = "../assetCreate/src"
asset_create_lambda_payload_dir               = "../assetCreate/payload"
asset_delete_lambda_src_dir                   = "../assetDelete/src"
asset_delete_lambda_payload_dir               = "../assetDelete/payload"
asset_read_lambda_src_dir                     = "../assetRead/src"
asset_read_lambda_payload_dir                 = "../assetRead/payload"
stackcash_purchase_lambda_src_dir             = "../stackCashPurchase/src"
stackcash_purchase_lambda_payload_dir         = "../stackCashPurchase/payload"
cloud_account_read_lambda_src_dir             = "../cloudAccountRead/src"
cloud_account_read_lambda_payload_dir         = "../cloudAccountRead/payload"
cloud_account_update_lambda_src_dir           = "../cloudAccountUpdate/src"
cloud_account_update_lambda_payload_dir       = "../cloudAccountUpdate/payload"
cloud_account_user_create_lambda_src_dir      = "../cloudAccountUserCreate/src"
cloud_account_user_create_lambda_payload_dir  = "../cloudAccountUserCreate/payload"
cloud_account_user_delete_lambda_src_dir      = "../cloudAccountUserDelete/src"
cloud_account_user_delete_lambda_payload_dir  = "../cloudAccountUserDelete/payload"
cloud_account_user_update_lambda_src_dir      = "../cloudAccountUserUpdate/src"
cloud_account_user_update_lambda_payload_dir  = "../cloudAccountUserUpdate/payload"
coin_bank_read_lambda_src_dir                 = "../coinBankRead/src"
coin_bank_read_lambda_payload_dir             = "../coinBankRead/payload"
coin_bank_update_lambda_src_dir               = "../coinBankUpdate/src"
coin_bank_update_lambda_payload_dir           = "../coinBankUpdate/payload"
resource_data_lambda_src_dir                  = "../resourceData/src"
resource_data_lambda_payload_dir              = "../resourceData/payload"
service_data_lambda_src_dir                   = "../serviceData/src"
service_data_lambda_payload_dir               = "../serviceData/payload"
playbook_data_lambda_src_dir                  = "../playbookData/src"
playbook_data_lambda_payload_dir              = "../playbookData/payload"
judging_criterion_create_lambda_src_dir       = "../judgingCriterionCreate/src"
judging_criterion_create_lambda_payload_dir   = "../judgingCriterionCreate/payload"
judging_criterion_read_lambda_src_dir         = "../judgingCriterionRead/src"
judging_criterion_read_lambda_payload_dir     = "../judgingCriterionRead/payload"
judging_criterion_update_lambda_src_dir       = "../judgingCriterionUpdate/src"
judging_criterion_update_lambda_payload_dir   = "../judgingCriterionUpdate/payload"
kanban_read_lambda_src_dir                    = "../kanbanRead/src"
kanban_read_lambda_payload_dir                = "../kanbanRead/payload"
kanban_update_lambda_src_dir                  = "../kanbanUpdate/src"
kanban_update_lambda_payload_dir              = "../kanbanUpdate/payload"
marketplace_read_lambda_src_dir               = "../marketplaceRead/src"
marketplace_read_lambda_payload_dir           = "../marketplaceRead/payload"
organization_read_lambda_src_dir              = "../organizationRead/src"
organization_read_lambda_payload_dir          = "../organizationRead/payload"
user_registration_lambda_src_dir              = "../userRegistration/src"
user_registration_lambda_payload_dir          = "../userRegistration/payload"
generate_uuid_lambda_src_dir                  = "../generateUUID/src"
generate_uuid_lambda_payload_dir              = "../generateUUID/payload"
get_user_lambda_src_dir                       = "../getUser/src"
get_user_lambda_payload_dir                   = "../getUser/payload"
organization_create_lambda_src_dir            = "../organizationCreate/src"
organization_create_lambda_payload_dir        = "../organizationCreate/payload"
organization_update_lambda_src_dir            = "../organizationUpdate/src"
organization_update_lambda_payload_dir        = "../organizationUpdate/payload"
organization_invitation_lambda_src_dir        = "../organizationInvitation/src"
organization_invitation_lambda_payload_dir    = "../organizationInvitation/payload"
user_read_lambda_src_dir                      = "../userRead/src"
user_read_lambda_payload_dir                  = "../userRead/payload"
user_update_lambda_src_dir                    = "../userUpdate/src"
user_update_lambda_payload_dir                = "../userUpdate/payload"
user_tag_read_lambda_src_dir                  = "../userTagRead/src"
user_tag_read_lambda_payload_dir              = "../userTagRead/payload"
event_create_lambda_src_dir                   = "../eventCreate/src"
event_create_lambda_payload_dir               = "../eventCreate/payload"
event_read_lambda_src_dir                     = "../eventRead/src"
event_read_lambda_payload_dir                 = "../eventRead/payload"
event_update_lambda_src_dir                   = "../eventUpdate/src"
event_update_lambda_payload_dir               = "../eventUpdate/payload"
participant_create_lambda_src_dir             = "../participantCreate/src"
participant_create_lambda_payload_dir         = "../participantCreate/payload"
participant_read_lambda_src_dir               = "../participantRead/src"
participant_read_lambda_payload_dir           = "../participantRead/payload"
participant_update_lambda_src_dir             = "../participantUpdate/src"
participant_update_lambda_payload_dir         = "../participantUpdate/payload"
team_analysis_read_lambda_src_dir             = "../teamAnalysisRead/src"
team_analysis_read_lambda_payload_dir         = "../teamAnalysisRead/payload"
team_create_lambda_src_dir                    = "../teamCreate/src"
team_create_lambda_payload_dir                = "../teamCreate/payload"
team_event_feedback_read_lambda_src_dir       = "../teamEventFeedbackRead/src"
team_event_feedback_read_lambda_payload_dir   = "../teamEventFeedbackRead/payload"
team_event_feedback_update_lambda_src_dir     = "../teamEventFeedbackUpdate/src"
team_event_feedback_update_lambda_payload_dir = "../teamEventFeedbackUpdate/payload"
team_read_lambda_src_dir                      = "../teamRead/src"
team_read_lambda_payload_dir                  = "../teamRead/payload"
team_update_lambda_src_dir                    = "../teamUpdate/src"
team_update_lambda_payload_dir                = "../teamUpdate/payload"
team_member_create_lambda_src_dir             = "../teamMemberCreate/src"
team_member_create_lambda_payload_dir         = "../teamMemberCreate/payload"
team_member_read_lambda_src_dir               = "../teamMemberRead/src"
team_member_read_lambda_payload_dir           = "../teamMemberRead/payload"
team_member_update_lambda_src_dir             = "../teamMemberUpdate/src"
team_member_update_lambda_payload_dir         = "../teamMemberUpdate/payload"
team_score_item_read_lambda_src_dir           = "../teamScoreItemRead/src"
team_score_item_read_lambda_payload_dir       = "../teamScoreItemRead/payload"
team_score_item_update_lambda_src_dir         = "../teamScoreItemUpdate/src"
team_score_item_update_lambda_payload_dir     = "../teamScoreItemUpdate/payload"
sr_db_name                                    = "sr"
sr_logging_level                              = "DEBUG"
sr_auth0_domain                               = "auth.example.com"
sr_auth0_client_id                            = ""
sr_auth0_be_audience                          = "https://be.example.com"
sr_max_invitation_send_count                  = 3
sr_kickoff_fn_arn                             = "arn:aws:lambda:us-east-1:000000000000:function:Kickoff"
sr_kickoff_scheduler_role_arn                 = "arn:aws:iam::000000000000:role/kickoff_scheduler"
sentry_api_dsn                                = "https://YOUR_SENTRY_KEY@oYOUR_ORG.ingest.sentry.io/YOUR_PROJECT"
sr_analysis_codescans_role_arn                = "arn:aws:iam::000000000000:role/stackref_core_lambda"
sr_analysis_codescans_account_id              = "000000000000"
sr_marketplace_role_arn                       = "arn:aws:iam::000000000000:role/stackref_core_lambda"
sr_aws_marketplace_product_code               = "8v48gcmjkys4hit8r942qbqfx"
#sr_db_secret_arn                              = "arn:aws:secretsmanager:us-east-1:000000000000:secret:sr-rds-v2-dev-20230206210020026600000001-A9o9Ud"
#sr_auth0_client_ids                           = ["YOUR_AUTH0_CLIENT_ID", "YOUR_AUTH0_CLIENT_ID", "YOUR_AUTH0_CLIENT_ID"]
