aws_region                                = "us-east-1"
sr_kickoff_version                        = "1.0.2"
environment                               = "dev"
sr_db_arn                                 = "arn:aws:rds:us-east-1:000000000000:cluster:sr-db-dev"
sr_db_name                                = "sr"
sr_logging_level                          = "DEBUG"
kickoff_lambda_src_dir                    = "lambda/kickoff/src"
kickoff_lambda_payload_dir                = "lambda/kickoff/payload"
kickoff_sqs_lambda_src_dir                = "lambda/kickoffSQS/src"
kickoff_sqs_lambda_payload_dir            = "lambda/kickoffSQS/payload"
kickoff_codescan_lambda_src_dir           = "lambda/kickoffCodeScan/src"
kickoff_codescan_lambda_payload_dir       = "lambda/kickoffCodeScan/payload"
kickoff_record_results_lambda_src_dir     = "lambda/kickoffRecordResults/src"
kickoff_record_results_lambda_payload_dir = "lambda/kickoffRecordResults/payload"
sr_auth0_domain                           = "example.us.auth0.com"
sr_auth0_client_id                        = "YOUR_AUTH0_CLIENT_ID"
sr_auth0_be_audience                      = "https://be.acme.example.com"
sr_analysis_codescans_role_arn            = "arn:aws:iam::000000000000:role/stackref_core_lambda"
sr_analysis_codescans_account_id          = "000000000000"
