aws_region                                      = "us-east-1"
sr_tator_version                                = "1.1.1"
environment                                     = "dev"
sr_db_arn                                       = "arn:aws:rds:us-east-1:000000000000:cluster:sr-db-dev"
sr_db_name                                      = "sr"
sr_db_secret_name                               = "sr-rds-v2-dev-20241127193722431200000003"
sr_logging_level                                = "DEBUG"
tator_websocket_connect_lambda_src_dir          = "lambda/tatorWebsocketConnect/src"
tator_websocket_connect_lambda_payload_dir      = "lambda/tatorWebsocketConnect/payload"
tator_websocket_default_lambda_src_dir          = "lambda/tatorWebsocketDefault/src"
tator_websocket_default_lambda_payload_dir      = "lambda/tatorWebsocketDefault/payload"
tator_websocket_disconnect_lambda_src_dir       = "lambda/tatorWebsocketDisconnect/src"
tator_websocket_disconnect_lambda_payload_dir   = "lambda/tatorWebsocketDisconnect/payload"
tator_websocket_event_bridge_lambda_src_dir     = "lambda/tatorWebsocketEventBridge/src"
tator_websocket_event_bridge_lambda_payload_dir = "lambda/tatorWebsocketEventBridge/payload"
tator_sqs_lambda_src_dir                        = "lambda/tatorSQS/src"
tator_sqs_lambda_payload_dir                    = "lambda/tatorSQS/payload"
tator_ddb_stream_lambda_src_dir                 = "lambda/tatorDDBStream/src"
tator_ddb_stream_lambda_payload_dir             = "lambda/tatorDDBStream/payload"
sr_auth0_domain                                 = "auth.acme.example.com"
sr_auth0_client_id                              = "YOUR_AUTH0_CLIENT_ID"
sr_auth0_be_audience                            = "https://be.acme.example.com"
#sr_auth0_client_ids                             = ["YOUR_AUTH0_CLIENT_ID", "YOUR_AUTH0_CLIENT_ID", "YOUR_AUTH0_CLIENT_ID"]
