aws_region                                 = "us-east-1"
sr_shot_clock_version                      = "1.1.0"
environment                                = "dev"
sr_db_arn                                  = "arn:aws:rds:us-east-1:000000000000:cluster:sr-db-dev"
sr_db_name                                 = "sr"
sr_logging_level                           = "DEBUG"
amazon_mkt_meter_lambda_src_dir            = "lambda/amazonMktMeter/src"
amazon_mkt_meter_lambda_payload_dir        = "lambda/amazonMktMeter/payload"
process_invitation_list_lambda_src_dir     = "lambda/processInvitationList/src"
process_invitation_list_lambda_payload_dir = "lambda/processInvitationList/payload"
python_lambda_layer_dir                    = "lambda/python_lambda_layer"
sr_marketplace_role_arn                    = "arn:aws:iam::000000000000:role/stackref_core_lambda"
sr_aws_marketplace_product_code            = "8v48gcmjkys4hit8r942qbqfx"
